body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#754196,#a05cca);
}

.bar{
    width: 100%;
    height: 120px;
}

.material-icons{
    font-size: 20px;
    position: relative;
    top: 0.4vh;
    left: 0.1vh; 
}

.login{
    font-family: 'Bebas Neue';
    margin-left: 88%;
    text-decoration: none;
    font-size: 110%;
    color: #000000;
}

.login:hover{
    text-decoration: underline overline #000000;
}

.menu{
    margin-left: 75%;
    font-size: 120%;
    padding-top: 3%;
}
.botao{
    font-family: 'Bebas Neue';
    text-decoration: none;
    padding: 3%;
    color: #000000;
}

.botao:hover{
    text-decoration: underline overline #000000;
}

.bantext{
    display: block;
}

.box{
    height: 500px;
    width: 80%;
    margin: 10px auto;
    border-radius: 2%;
}

b{
    font-size: 140%;
}

.th{
    padding: 14%;
    font-family:'Bebas Neue';
}

.vitrine{
    background-color: #a05ccabd;
    width: 150vh;
    height: 100vh;
    margin: auto;
}

.produto{
    padding-top: 5.5vh; 
    font-family:'Bebas Neue';
    margin-left: 25vh;
}

.T1{  
    font-size: 3.5vh;
}

.p1{
    position: relative;
    height: 200px;
    width: 300px;
}

.sobre{
    margin: auto;
    background-color: #7c499cbd;
    width: 150vh;
    height: 100vh;
}

.contatos{
    margin: auto;
    background-color: #723697bd;
    width: 150vh;
    height: 100vh;
}

.material-icons-outlined{
    margin-left: 10%;
}

.number{
    bottom: 0.5vh;
    position: relative;
}

footer{
    font-size: 120%;
    font-family:'Bebas Neue';
    margin-top: 100%;
    margin-left: 50%;
}
